body {
    margin: 0;
    font-size: 16px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100vh;

    --background-color: #222222;
    --text-color: #c9c9c9;
}

#terminal {
    padding: 5px 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100vh;
}

pre {
    margin: 5px 0;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-break: break-all;
}

#input-container {
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
}

input {
    flex-grow: 1;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 5px;
    font-size: 1rem;
    border: none;
    font-family: monospace;
}