* {
    --terminal-bg-color: #222222;
    --terminal-text-color: #c9c9c9;
    --main-color: #3b4e39;
    --main-dark-color: #253125;
    --main-light-color: #576a54;
    --secondary-color: #404557;
    --text-color: #c5ddc9;
}

body {
    margin: 0;
    font-size: 16px;
    display: flex;
    background-color: var(--terminal-bg-color);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
