@size-400: ~"only screen and (min-width: 400px)";
@size-600: ~"only screen and (min-width: 600px)";
@size-900: ~"only screen and (min-width: 900px)";
@size-1000: ~"only screen and (min-width: 1000px)";
@size-1200: ~"only screen and (min-width: 1200px)";
@size-1400: ~"only screen and (min-width: 1400px)";
@size-1600: ~"only screen and (min-width: 1600px)";

* {
    --terminal-bg-color: #222222;
    --terminal-text-color: #c9c9c9;
    --terminal-title-color: #a7a7a7;
    --main-color: 59, 78, 57;
    --main-dark-color: #253125;
    --main-light-color: #576a54;
    --secondary-color: 80, 93, 143;
    --secondary-dark-color: 57, 68, 109;
    --secondary-light-color: 118, 134, 201;
    --text-color: 197, 221, 201;
    --text-intense-color: #ffffff;
    --text-highlight: #cecf75;
    --room-1: 253, 233, 119;
    --room-2: 253, 119, 119;
    --room-3: 119, 155, 253;
    --room-4: 119, 253, 179;
    --room-5: 242, 119, 253;
    --trackbar: 145, 145, 145;
}

body {
    margin: 0;
    font-size: 16px;
    display: flex;
    background-color: var(--terminal-bg-color);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid rgba(var(--trackbar), 0.3);
}

::-webkit-scrollbar-track {
    background: rgba(var(--trackbar), 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--trackbar), 0.4);
}

*:hover > ::-webkit-scrollbar-thumb {
    background: rgba(var(--trackbar), 0.6);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--trackbar), 1);
}