@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "common";
@import "utils";

#menu {
    width: 300px;
    background-color: var(--main-color);
    flex-shrink: 0;
    border-right: 1px solid var(--main-light-color);
    box-shadow: 1px 0px 3px black;
    
    #logo {
        background-color: var(--main-light-color);  
        color: white;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
    }

    #button-container {
        padding: 15px 25px;
        display: flex;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            border-radius: 100%;
            background-color: var(--secondary-color);
            color: var(--text-color);
            transition: 0.3s all;
            cursor: pointer;
            height: 35px;
            width: 35px;
            // box-shadow: 0px 0px 5px var(--main-dark-color);
            border: 1px solid var(--main-light-color);

            &:hover {
                filter: brightness(1.2);
                color: white;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }

    #room-container {
        color: var(--text-color);

        .room {
            margin-bottom: 10px;

            .name {
                padding: 10px 10px 5px;
                display: flex;
                align-items: center;
                font-weight: bold;
            }

            .worker {
                
                .name {
                    border-left: 2px solid var(--main-dark-color);
                    margin-left: 15px;
                    padding: 5px 10px;
                    font-weight: normal;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                }
            }
        }
    }
}

#frame {
    flex-grow: 1;
    min-height: 100vh;
    overflow: auto;
    background-image: url('https://picsum.photos/640/480?blur=2');
    background-position: center;
    background-size: cover;

    .room-terminal-container {
        display: flex;
        align-items: flex-start;

        .window {
            max-width: 500px;
            margin: 3px;
            border: 1px solid var(--terminal-title-color);
            border-radius: 5px;
            box-shadow: 1px 1px 3px black;
            
            #title {
                display: flex;
                align-items: center;
                background-color: var(--terminal-title-color);
                border-radius: 3px 3px 0 0;
                height: 25px;
                
                #text {
                    color: black;
                    margin-left: 10px;
                    text-align: center;
                    flex-grow: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                .button {
                    border-radius: 100%;
                    width: 15px;
                    height: 15px;
                    box-shadow: 0px 0px 3px black inset;
                    margin: 0 5px;
                    flex-shrink: 0;
                    cursor: pointer;
                    transition: 0.3s all;
    
                    &:hover {
                        filter: brightness(1.2);
                    }
                }
    
                #close {
                    background-color: #f86158;
                }
    
                #minimize {
                    background-color: #fbbf2d;
                }
                
                #maximize {
                    background-color: #2ccb43;
                }
            }
    
            .terminal {
                padding: 5px 10px 0;
                background-color: var(--terminal-bg-color);
                color: var(--terminal-text-color);
                box-sizing: border-box;
                overflow-y: auto;
                max-height: calc(100vh - 60px);
                font-family: monospace;
                
                pre {
                    margin: 5px 0;
                    overflow-x: hidden;
                    white-space: pre-wrap;
                    word-break: break-all;
                }
            }
            
            
            #input-container {
                width: 100%;
                background-color: var(--terminal-bg-color);
                color: var(--terminal-text-color);
                display: flex;
                align-items: center;
                padding: 0px 10px;
                box-sizing: border-box;
                font-family: monospace;
                height: 30px;
                border-radius: 0 0 3px 3px;
                
                input {
                    flex-grow: 1;
                    outline: none;
                    background-color: var(--terminal-bg-color);
                    color: var(--terminal-text-color);
                    padding: 5px;
                    font-size: 1rem;
                    border: none;
                    font-family: monospace;
                    border-radius: 0 0 3px 3px;
                }
            }
        }
    }
}
