@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "common";
@import "utils";

body {
    background-image: url('https://picsum.photos/640/480?blur=2');
    background-position: center;
    background-size: cover;
}

#menu {
    width: 300px;
    background-color: rgba(var(--main-color), 0.8);
    flex-shrink: 0;
    border-right: 1px solid var(--main-light-color);
    box-shadow: 1px 0px 3px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    
    #logo {
        background-color: var(--main-light-color);  
        color: white;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin-bottom: 15px;
    }

    #content {
        flex-grow: 1;

        #button-container {
            padding: 15px 0;
            display: flex;
            // justify-content: center;

            &:hover #room-placeholder{
                opacity: 0.2;
            }
    
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                // border-radius: 100%;
                border-radius: 10px;
                // background-color: rgba(var(--secondary-color), 1);
                background-color: rgb(var(--secondary-color));
                color: rgb(var(--text-color));
                transition: 0.3s all;
                cursor: pointer;
                height: 50px;
                width: 50px;
                border: 1px solid var(--main-light-color);
                margin-left: -175px;
                margin-top: 30px;
                z-index: 1;
    
                &:hover {
                    filter: brightness(1.2);
                    color: white;
                }
    
                i {
                    font-size: 2rem;
                }
            }

            #room-placeholder {
                white-space: nowrap;
                display: flex;
                flex-direction: column;
                opacity: 0;
                width: 100%;
                user-select: none;
                cursor: default;
                transition: 0.7s all;

                .room {
                    padding: 0;
                    
                    span {
                        width: 170px;
                        background-color: rgba(var(--text-color), 1);
                        padding: 0;
                        margin: 0 10px;
                    }
                    
                }

                .worker {
                    margin: 5px 30px;
                    padding: 0 5px;

                    span {
                        background-color: rgba(var(--text-color), 1);
                    }
                }
            }
        }
    
        #room-container, #room-placeholder {
            color: rgb(var(--text-color));
    
            .room {
                padding: 0 0 10px;
                margin: 10px;
                border-radius: 3px;
                cursor: pointer;
                
                &:hover {
                    .name { background-color: rgba(var(--secondary-color), 0.4); }
                    .worker .name { background-color: rgba(var(--secondary-color), 0.25); }
                }
    
                &.active {
                    .name { background-color: rgb(var(--secondary-color)); }
                    .name:hover { background-color: rgb(var(--secondary-color)); }
                    .worker .name { background-color: rgba(var(--secondary-color), 0.5); }
                }
    
                .name {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    border-radius: 3px 3px 0 0;
                    transition: 0.3s all;
    
                    &:hover {
                        background-color: rgba(var(--secondary-color), 0.6);
                    }
                }
                
                .worker {
                    
                    &:hover {
                        .name { background-color: rgba(var(--secondary-color), 0.6); }
                    }
        
                    &.active {
                        .name { background-color: rgb(var(--secondary-color)); }
                    }
    
                    &.closed .name {
                        color: rgba(var(--text-color), 0.4);
                    }
    
                    .name {
                        color: rgb(var(--text-color));
                        border-radius: 0 0 3px 3px;
                        padding: 5px 0 5px 30px;
                        font-weight: normal;
                        max-width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        font-size: 1rem;
                        transition: 0.3s all;
                    }
                }
            }
        }
    }

    #social {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0 10px; 
        
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: rgb(var(--text-color));
            text-decoration: none;
            text-align: center;
            border-radius: 5px;
            padding: 10px 20px;
            transition: 0.3s all;
            cursor: pointer;
            
            &:hover {
                filter: brightness(1.3);
                background-color: rgb(var(--main-color));
            }

            i {
                font-size: 2rem;
            }
        }
    }
}

#frame {
    flex-grow: 1;
    min-height: 100vh;
    overflow: auto;
    padding: 5px 0;
    box-sizing: border-box;

    .room-terminal-container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 5px 10px;
        transition: 0.5s all;

        &:nth-child(1) #title { background-color: rgba(var(--room-1), 0.4); }
        &:nth-child(2) #title { background-color: rgba(var(--room-2), 0.4); }
        &:nth-child(3) #title { background-color: rgba(var(--room-3), 0.4); }
        &:nth-child(4) #title { background-color: rgba(var(--room-4), 0.4); }
        &:nth-child(5) #title { background-color: rgba(var(--room-5), 0.4); }

        &.active {
            .window {
                box-shadow: 0px 0px 5px rgb(var(--text-color));
            }

            #title {
                background-color: rgba(var(--secondary-color), 0.6);
            }
        }
        
        .window {
            margin: 3px;
            border: 1px solid var(--terminal-title-color);
            border-radius: 5px;
            box-shadow: 1px 1px 3px black;
            background-color: var(--terminal-title-color);
            box-sizing: border-box;
            transition: 0.3s all;
            max-width: 600px;

            @media @size-1200 {
                // max-width: 450px;
            }

            &.active {
                box-shadow: 0px 0px 5px rgb(var(--text-color));
    
                #title {
                    background-color: rgba(var(--secondary-color), 0.6);
                }
            }

            &.closed { display: none; }
            
            &.maximized {
                max-width: calc(100vw - 305px);
                position: absolute;
                margin-left: -8px;
                margin-top: -9px;
                box-shadow: none;
                width: 100vw;

                #title {
                    border-radius: 0;
                }
                #input-container {
                    border-radius: 0;
                }
                .terminal {
                    height: 100vh;
                    max-height: calc(100vh - 60px);
                }
            }
            
            #title {
                display: flex;
                align-items: center;
                border-radius: 3px 3px 0 0;
                height: 25px;
                font-weight: bold;
                transition: 0.5s all;
                
                #text {
                    color: rgba(0, 0, 0, 0.75);
                    text-align: center;
                    flex-grow: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                .button {
                    border-radius: 100%;
                    width: 15px;
                    height: 15px;
                    box-shadow: 0px 0px 3px black inset;
                    margin: 0 5px;
                    flex-shrink: 0;
                    cursor: pointer;
                    transition: 0.3s all;
    
                    &:hover {
                        filter: brightness(1.2);
                    }
                }
    
                #close { background-color: #f86158; }
                #minimize { background-color: #fbbf2d; }
                #maximize { background-color: #2ccb43; }
            }
    
            .terminal {
                padding: 5px 10px 0;
                background-color: var(--terminal-bg-color);
                color: var(--terminal-text-color);
                box-sizing: border-box;
                overflow-y: auto;
                max-height: calc(100vh - 80px);
                font-family: monospace;
                
                pre {
                    margin: 5px 0;
                    overflow-x: hidden;
                    white-space: pre-wrap;
                    word-break: break-all;
                }
            }
            
            
            #input-container {
                width: 100%;
                background-color: var(--terminal-bg-color);
                color: var(--terminal-text-color);
                display: flex;
                align-items: center;
                padding: 0px 10px;
                box-sizing: border-box;
                font-family: monospace;
                height: 30px;
                border-radius: 0 0 3px 3px;
                
                input {
                    flex-grow: 1;
                    outline: none;
                    background-color: var(--terminal-bg-color);
                    color: var(--terminal-text-color);
                    padding: 5px;
                    font-size: 1rem;
                    border: none;
                    font-family: monospace;
                    border-radius: 0 0 3px 3px;
                }
            }
        }
    }
}
